.Rproj.user/*.*
.Rproj.user/BC607BF0/pcs/packages-pane.pper
*.Rhistory
*.pper
.Rproj.user/BC607BF0/persistent-state
.Rproj.user/BC607BF0/sdb/prop/1E4F38F6
*.Rproj
.Rproj.user/BC607BF0/sdb/prop/FBF837EE
.Rproj.user/BC607BF0/build_options
.Rproj.user/BC607BF0/cpp-definition-cache
.Rproj.user/BC607BF0/sdb/prop/549D2769
.Rproj.user/BC607BF0/saved_source_markers
.Rproj.user/BC607BF0/sdb/prop/9AA7B1FC
.Rproj.user/BC607BF0/sdb/prop/AA91A2A7
.Rproj.user/BC607BF0/sdb/prop/8681F92D
.Rproj.user/BC607BF0/sdb/prop/451AAF76
.Rproj.user/BC607BF0/sdb/prop/2051AB4C